{% extends "layout.html" %}

{% block description %} {{description}} {% endblock %}
{% block title %} {{title}} {% endblock %}

{% block main %}



<div class"container my-container">
    <div class="row my-row">
        <div class="col-6 my-col">
            <h1>Make a free QR code:</h1>
            <form action="/qr-code" method="POST">
                <input class="form-control" type="text" name="url" placeholder="www.website.com" required>

                <button type="submit" class="btn btn-primary my-btn">Create Code!</button>

            </form>
        </div>
    </div>
</div>


{% endblock %}


