{% extends "layout.html" %}

{% block title %} QR Code Frequently Asked Questions (FAQ) {% endblock %}
<h1> Commonly Asked QR Code Questions</h1>

{% block main %}


<div class="container">
    <div class="row">
        <div class="col my-col"></div>
        <div class="col-10 my-col">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is a QR Code?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            It is 2-d barcode that can be scanned with a mobile phone and used to direct users to websites, allow them to call a phone number, text or even see a map location without using their keyboard. They can be used effectively to enhance user experience in marketing campaigns and are also great at helping you link the physical and digital worlds.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What does QR stand for?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Quick response.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How do I scan a QR code on an iphone?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            iPhone: with IOS 11 onwards, you can simply open your camera app and point it at the QR code. A popup will appear which you then need to click.

                            Android: try using Google Lens or your camera app. If not, take a look in the Play store for a QR code app with good reviews.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Do I have to pay to use QR code?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            No. You do not have to pay to use QR codes commercially or privately in 2020 since there is a free license from Denso Wave. Read more about <a href="https://en.wikipedia.org/wiki/QR_code#License" target="_blank">QR code licensing</a>.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How do I create a QR code?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            You can create a QR code using our <a href=" {{ url_for('home') }} ">free QR code generator</a>.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What things can I do with a QR code?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            There are lots of cool things you can do but as a starter you can use a Qr code to:
                            <ul>
                                <li>Direct a user to a URL such as your website or social account page </li>
                                <li>Prompt a user to call a certain phone number, email you or send an SMS a pre-populated phone number </li>
                                <li>Show a user a location on a Google map </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col my-col"></div>
    </div>
</div>




<script type="application/ld+json">
    {"@context":"https://schema.org","@type":"FAQPage","mainEntity":[
    {"@type":"Question","name":"What is a QR Code?","acceptedAnswer":{"@type":"Answer","text":"it is a cool code."}},
    {"@type":"Question","name":"What does QR stand for?","acceptedAnswer":{"@type":"Answer","text":"Quick response."}},
    {"@type":"Question","name":"How do I scan a QR code on an iphone?","acceptedAnswer":{"@type":"Answer","text":"Scan it"}}]}
</script>

{% endblock %}

