{% extends "layout.html" %}

{% block title %} QR Code Frequently Asked Questions (FAQ) {% endblock %}
<h1> Commonly Asked QR Code Questions</h1>

{% block main %}


<div class="container">
    <div class="row">
        <div class="col my-col"></div>
        <div class="col-10 my-col">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is a QR Code?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            It is a cool code.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What does QR stand for?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Quick response.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How do I scan a QR code on an iphone?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Scan it.
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col my-col"></div>
    </div>
</div>




<script type="application/ld+json">
    {"@context":"https://schema.org","@type":"FAQPage","mainEntity":[
    {"@type":"Question","name":"What is a QR Code?","acceptedAnswer":{"@type":"Answer","text":"it is a cool code."}},
    {"@type":"Question","name":"What does QR stand for?","acceptedAnswer":{"@type":"Answer","text":"Quick response."}},
    {"@type":"Question","name":"How do I scan a QR code on an iphone?","acceptedAnswer":{"@type":"Answer","text":"Scan it"}}]}
</script>

{% endblock %}

